mixin navitem(name, uid, first, activatable)
  li
    if !first
      span.fa.fa-chevron-right
    span.navitem.subdir(data-uid=uid, class=activatable&&'act')
      = name

mixin action(select, target, action, i18n, icon, display)
  div.view-action(data-select=select, data-target=target, data-action=action, title=t(i18n), style=display ? "display: "+display : false)
    span.fa(class="fa-"+icon)

mixin mimeicon(mime)
  - var _mime = mime||'';
  - var _mimegp = _mime.split('/')[0];
  - var _mimenm = _mime.split('/')[1];
  if _mime === 'inode/directory'
    span.fa.fa-folder
  else if _mime === 'application/pdf'
    span.fa.fa-file-pdf-o
  else if _mimegp === 'text'
    span.fa.fa-file-text-o
  else if _mimegp === 'audio'
    span.fa.fa-file-audio-o
  else if _mimegp === 'video'
    span.fa.fa-file-video-o
  else if _mimegp === 'image'
    span.fa.fa-file-image-o
  else if _mimegp === 'application' && /^zip|gzip|zlib|x-rar-compressed|$/.test(_mimenm)
    span.fa.fa-file-archive-o
  else
    span.fa.fa-file-o

mixin folder-row(d, folder)
  -
    var canwrite = folder ? folder.can('write', req.user) : req.user.is('admin')
    var attrs = { 'class': {} }
    attrs['data-uid'] = d.uid
    attrs['data-url'] = buildURL(path.slice().concat([ d.name ]))
    attrs['data-path'] = d.path.split('/').map((a) => encodeURIComponent(a)).join('/')
    attrs['data-type'] = d.type
    attrs['data-flags'] = 'r'+(canwrite ? 'w' : '')+(d.path.indexOf('/')>=0 ? '' : 'f')
    //attrs['class']['view-droppable-files'] = !!(canwrite && folder)
    var acl = Object.keys(d.accessList||{}).length;

  div.list-row.folder-entry.view-droppable(data-uid=d.uid, data-url=url, data-path=dpath, data-type=d.type, data-flags=flags)&attributes(attrs)
    div.list-cell.folder-name
      div.list-cell-content
        +mimeicon(d.mime)
        span.folder-name= d.name
        if acl
          span.folder-shared
            span.fa.fa-user
            = acl
    div.list-cell.folder-mtime
      div.list-cell-content
        span.folder-mtime
          = d.mtime ? dateformat(d.mtime, t('date-format')) : '\u2014'
    div.list-cell.folder-size
      div.list-cell-content
        span.folder-size
          != '&mdash;'

mixin file-row(f, folder)
  - var mtime = f.mtime ? dateformat(f.mtime, t('date-format')) : '\u2014'
  - var url = buildURL(path.slice().concat([ f.name ]));
  - var dpath = datapath.concat([ f.name ]).map((a) => encodeURIComponent(a)).join('/');
  - var canwrite = folder ? folder.can('write', req.user) : req.user.is('admin')
  - var flags = 'r'+(canwrite ? 'w' : '')
  div.list-row.file-entry(data-url=url, data-path=dpath, data-type=f.type, data-flags=flags)
    div.list-cell.folder-name
      div.list-cell-content
        +mimeicon(f.mime)
        span.folder-name= f.name
    div.list-cell.folder-mtime
      div.list-cell-content
        span.folder-mtime= mtime
    div.list-cell.folder-size
      div.list-cell-content
        span.folder-size
          = formatSize(f.size)

mixin trash-row(i)
  div.list-row.trash-entry(data-trash-id=i.uid, data-type='trash')
    div.list-cell.folder-name(class=i.isFolder?'folder-root':false)
      div.list-cell-content
        +mimeicon(i.mime)
        span.folder-name= i.name
    div.list-cell.folder-origin
      div.list-cell-content
        span.folder-orig= i.origin
