include ./_mixins.pug

-
  var canwrite = folder ? folder.can('write', req.user) : req.user.is('admin')
  var istrash = typeof trash !== 'undefined'
  var flags = istrash ? 't' : ('r'+(canwrite ? (folder ? 'w' : 'cw') : '')+(folder ? (path.length ? '' : 'f') : 's'))
  var folderName = istrash ? '.trash' : (folder ? folder.name : '')
  var attrs = { 'class': {} }
  attrs['data-uid'] = pathid
  attrs['data-folder'] = folder&&folder.name
  attrs['data-url'] = buildURL()
  attrs['data-path'] = datapath.map((a) => encodeURIComponent(a)).join('/')
  attrs['data-flags'] = flags
  attrs['class']['view-droppable-files'] = !!(canwrite && folder)

div.list-box.folders-list(id='l-'+pathid)&attributes(attrs)
  div.list
    div.list-header
      div.list-cell.folder-name
        div.list-cell-content
          span= t('folder.name')
      if istrash
        div.list-cell.folder-origin
          div.list-cell-content
            span= t('folder.origin')
      else
        div.list-cell.folder-mtime
          div.list-cell-content
            span= t('folder.mtime')
        div.list-cell.folder-size
          div.list-cell-content
            span= t('folder.size')
    div.list-group
      if istrash
        each tr in trash
          +trash-row(tr)
      else
        each d in dirs
          +folder-row(d, folder)
        each f in files
          +file-row(f, folder)
  -
    var empty = (istrash && !trash.length) || (!istrash && !dirs.length && !files.length)
    var msgkey = istrash ? 'trash' : (folder ? 'folder' : 'root')
    msgkey += (msgkey === 'root' && req.is('admin')) ? '-admin' : ''
  if empty
    div.empty= t('folder.empty-'+msgkey)
