doctype html
html
  head
    -
      var ggFamily = [
        "Roboto:400,400i,500,500i,700,700i",
        "Roboto+Slab:400,700",
        "Roboto+Mono:400,400i,500,500i,700,700i"
      ].join("|");
      var ggFont='https://fonts.googleapis.com/css?family='+ggFamily+'&subset=latin,latin-ext';
      var bsUrl=staticUrl+'/bootstrap';
    block title
      title= app.get('title')
    link(rel="stylesheet", type="text/css", href=ggFont)
    link(rel="stylesheet", type="text/css", href=staticUrl+'/css/font-awesome.css')
    link(rel="stylesheet", type="text/css", href=bsUrl+'/css/bootstrap.min.css')
    link(rel="stylesheet", type="text/css", href=bsUrl+'/css/bootstrap-theme.min.css')
    link(rel="stylesheet", type="text/css", href=staticUrl+'/css/filehub.css')
    if req.isAuthenticated() && req.user.is("admin")
      link(rel="stylesheet", type="text/css", href=staticUrl+'/css/filehub-admin.css')
    script(type"text/javascript").
      (function(w){
        w.FILEHUB_BASEURL="#{baseUrl}";
        w.FILEHUB_CTX="#{menuCtx}";
      })(window);
    if app.get('env') === 'development'
      script(type="text/javascript").
        var PROD=false;

  body
    div#filehub_container
      nav
        ul#menu
          li
            include ./filehub_ico.pug
          if req.isAuthenticated()
            block menuAuth
              li(class=menuCtx === "browse" ? "active" : "")
                a(href=baseUrl+"/folders" title=t("folders"))
                  span.fa(class=menuCtx === "browse" ? "fa-folder-open" : "fa-folder")
                  != "&nbsp;"
                  = t("folders")
              if req.user.is("admin")
                li(class=menuCtx === "accounts" ? "active" : "")
                  a(href=baseUrl+"/accounts", title=t("accounts"))
                    span.fa.fa-users
                    != "&nbsp;"
                    = t("accounts")
              li(class=menuCtx === "profile" ? "active" : "")
                a(href=baseUrl+"/profile", title=t("profile"))
                  span.fa.fa-user
                  != "&nbsp;"
                  = t("profile")
              li.alt
                form.logout(action=baseUrl+"/logout", method="post")
                  button(title=t("signout"))
                    span.fa.fa-sign-out
                    != "&nbsp;"
                    = t("signout")
              li.alt.menu-info
                span= req.user.name
          else
            block menuSignIn
              li.alt
                span.fa.fa-sign-in
                != "&nbsp;"
                = t("signin")
      div.contents
        block contents
    block extra
      = ''

    script(type="text/javascript", src=staticUrl+'/js/jquery-2.2.4.min.js')
    script(type="text/javascript", src=bsUrl+'/js/bootstrap.min.js')
    if app.get('env') === 'development'
      script(type="text/javascript", src=staticUrl+'/js/filehub.js')
      each f in [ 'api', 'aside', 'browse-acl', 'ctx-browse', 'loader', 'nav', 'view' ]
        script(type="text/javascript", src=staticUrl+'/js/filehub/'+f+'.js')
      if req.isAuthenticated() && req.user.is("admin")
        each f in [ 'accounts' ]
          script(type="text/javascript", src=staticUrl+'/js/filehub-admin/'+f+'.js')
    else
      script(type="text/javascript", src=staticUrl+'/js/filehub.min.js')
      if req.isAuthenticated() && req.user.is("admin")
        script(type="text/javascript", src=staticUrl+'/js/filehub-admin.min.js')
