extends ./layout.pug

block contents
  div.contents-wrap
    div.title-box
      h1= app.get('title')
    div.fixed-box
      form.sign-in(method="post")
        p.note= t('signin-message')
        span.input-icon
          span.fa.fa-user
        input(name="username", type="text", placeholder=t('account.username'), autofocus)
        span.input-icon
          span.fa.fa-key
        input(name="password", type="password", placeholder=t('account.password'))
        button(type="submit")
          span.fa.fa-sign-in
          != "&nbsp;"
          = t('signin')
        p.error= err||''
    div.padding-box
    include ./_notice.pug
