extends ./layout.pug

mixin inputtag(typ, nam, i18n, val, icon)
  if icon
    span.input-icon
      span.fa(class="fa-"+icon)
  input(type=typ, name=nam, placeholder=t('user.'+i18n), value=val)

block contents
  div.contents-wrap
    div.profile-contents
      div.contents-box
        form.profile-form#profile(method="post")
          h1
            = t('profile')
            span.fa.fa-angle-right
            span= req.user.name
          p.note= t("user.edit-profile")
          // todo: csrf token
          h3
            span.fa.fa-envelope-o
            = t('user.email')
          +inputtag('email', 'email', 'email', req.user.email)
          h3
            span.fa.fa-key
            = t('user.password')
          +inputtag('password', 'password', 'password-new', '')
          +inputtag('password', 'password2', 'password-confirm', '')
          h3
          button#profile-submit()
            span.fa.fa-upload
            != "&nbsp;"
            = t('save')
    include ./_notice.pug
