extends ./layout.pug

block contents
  - var lists = [ 'admin', 'user' ]
  div.view-wrap
    div.nav-out
      div.nav-in
        div.nav#nav
          div.nav-padding#nav-padding
          div.nav-wrap
            ul#nav-path
              li
                span.navitem
                  = t("filehub.users")
              li
                span.fa.fa-chevron-right
                span.navitem
                  = t("filehub.access.admin", { count: 2 })
          div.nav-toolbox
            div.view-tools#nav-tools
              div.view-action(data-select="single", data-type='user', data-handler="userEdit", title=t("filehub.user.edit"), style="display: none")
                span.fa.fa-edit
              div.view-action(data-select="multi", data-type='user', data-handler="userDelete", title=t("filehub.user.delete"), style="display: none")
                span.fa.fa-trash-o
    div.view-wrap-in
      div.view-wrap-in-2
        div.view
          div.view-aside.users-lists#view-aside(style='vidth:0')
            div.button-box
              button(type="button", data-handler="userAdd")
                span.fa.fa-user-plus
                = t("filehub.user.add")
            div.tree-box.view-drop-target(data-on-drop='userDrop')
              div.tree.tree-large
                each k, i in lists
                  div.tree-item.view-droppable(class=(i>0?false:'active'), data-target='users-list-'+k, data-handler='usersListQuery')
                    div.tree-expand
                      span
                    div.tree-icon
                      span.fa.fa-users
                    div.tree-label
                      = t("filehub.access."+k, { count: 2 })
          div.view-resize#view-resize
            div.view-handle
          div.view-contents#view-contents
            include ./loader.pug
            each k, i in lists
              div.list-box.users-list(id='users-list-'+k, data-users-list=k, style=i>0 && 'display: none')
                div.list(data-row-activate='userEdit')
                  div.list-header
                    div.list-cell.user-name
                      div.list-cell-content
                        span= t('filehub.user.name')
                    div.list-cell.user-email
                      div.list-cell-content
                        span= t('filehub.user.email')
                  div.list-group
                    each u in users[k]
                      div.list-row.user-entry(data-user=u.name, data-type='user')
                        div.list-cell.user-name
                          div.list-cell-content
                            span.fa.fa-user
                            span.user-name= u.name
                        div.list-cell.user-email
                          div.list-cell-content
                            span.user-email= u.email
